@import "tailwindcss";

*{
  font-family: monospace;
}

::-webkit-scrollbar {
    width: 1px;
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 1px;
}

::-webkit-scrollbar-thumb {
    background: rgba(168, 85, 247, 0.5);
    border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(168, 85, 247, 0.8);
}
